body {
    background-color: #8B0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    flex: 1;
}

header {
    background: #2C2C2C;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #d1b897;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav ul li a:hover {
    color: #d1b897;
    border-bottom: 2px solid #d1b897;
}

section {
    padding: 40px 0;
    flex: 1;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 300;
    border-bottom: 2px solid #d1b897;
    display: inline-block;
    padding-bottom: 10px;
}

#about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

#about p {
    grid-column: 1 / 2;
}

#about img {
    grid-column: 2 / 3;
    width: 100%;
    max-width: 300px;
}


p,
label {
    color: #e5dede;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.intro-text {
    color: #ded5d5;
    font-size: 1.2rem;
}

.project-description {
    color: #c61a1a;
    font-size: 1rem;
    margin-bottom: 15px;
}

.hobby-description {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 15px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio-item {
    border: 1px solid #d1b897;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 15px;
    background-color: #fefefe;
    transition: background-color 2s 500ms;
    transition: margin-right 2s;
}

.portfolio-item:hover,
.hobby-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(199, 184, 184);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #d1b897;
    margin-bottom: 10px;
}

.hobby-item {
    border: 1px solid #d1b897;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 15px;
    background-color: #fefefee8;
    transition: background-color 2s 500ms;
    transition: margin-right 2s;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hobby-item img {
    width: 150px;
    height: auto;

}

.technologies-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.technology-item {
    border: 1px solid #d1b897;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fefefe;
    width: 100px;
}


.technology-item:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

footer {
    background: #2C2C2C;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    font-size: 0.9rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d1b897;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333333;
}

form button {
    padding: 12px;
    background: #2C2C2C;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: #6f6f6f;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    #about p {
        grid-column: unset;
        order: 1;
        text-align: center;
    }

    #about .container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hobby-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #about img {
        grid-column: unset;
        order: 2;
        margin-top: 20px;
        max-width: 180px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 10px 0;
    }

    section h2 {
        font-size: 2rem;
    }
}